#hero {
	color: black;
	width: 100%;
	float: left;
	display: inline;
	position: static;
}

#hero_container {
	display: block;
	position: relative;
	background-color: #fff;
}

#link_title {
	position: absolute;
	height: auto;
	top: 20%;
	left: 15%;
	right: 10%;
	font-size: 5vw;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px #000;
	font-family: sans;
}

.parent_1 {
	display: flex;
	align-items: center;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	height: auto;
	width: 100%;
}

.parent_2 {
	display: flex;
	align-items: center;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	height: auto;
	width: 100%;
}

.child_2 {
	float: none;
	width: auto;
	height: 100%;
	display: inline-block;
	position: static;
	margin: 5px;
	text-decoration: none;
}

#child0 {
	position: relative;
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

#child1 {
	position: relative;
	width: 50%;
	text-align: center;
}

#child2 {
	position: relative;
	width: 50%;
	text-align: center;
}

#imgs {
	width: 100%;
	height: auto;
	border: 2px solid #ffd046;
}
